@import url('https://fonts.googleapis.com/css?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

.greeting{
    margin: 30px;
}

.incident-container {
    display: flex;
    background-color: #DBF1FF;
    border: 4mm ridge #BFD1FD;
    margin: 5% 10%;
    padding: 0px 50px 30px;
}

.select{
    position: relative;
    background-color: #EFE2BA;
    display: flex;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    height: 50px;
}