{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <title>Split Landing Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{% static 'attendance/style.css' %}" rel="stylesheet">
{% endblock %}


{% block body %}
<h1> Hello {{student.first}}!! </h1>
<h2 class="student_id">{{student.student_id}}</h2>




<script src="{% static 'attendance/script.js' %}"></script>
{% endblock %}