{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <title>Attendance</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{% static 'attendance2/style.css' %}" rel="stylesheet">
{% endblock %}


{% block body %}
<h1 class="greeting"> Hello {{student.first}}! </h1>
<h2 class="student_id">{{student.student_id}}</h2>

<div class="excused-container">
    <h1>Is your tardy excused?</h1>
    <p>In other words, were you out of class with a verifiable reason (doctors note, office pass, etc.)?</p>
    <button class="excused-yes">Yes</button>
    <button class="excused-no">No</button>
</div>

<div class="description-container">
    <h1>Briefly describe why you were tardy.</h1>
    <textarea class="description" placeholder="Enter text here ..."></textarea>
    <button class="description-button">Submit</button>
    <button class="previous">Previous Page</button>
</div>

<div class="return-container">

    <form action="{% url 'login' %}" method="post">
        <h1 class="return-excused-message">Thank you!!!</h1>
        {% csrf_token %}
        <input class="return-button" type="submit" value="Return Home">
    </form>
</div>
<script src="{% static 'attendance2/script.js' %}"></script>
{% endblock %}