{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <title>Split Landing Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{% static 'choice/style.css' %}" rel="stylesheet">
{% endblock %}


{% block body %}
    <div class="container">
        <div class="split left">
            <h1>Restroom</h1>
            <a href="#" class="btn">Click Here</a>
        </div>
        <div class="split right">
            <h1>Attendance</h1>
            <a href="#" class="btn">Click Here</a>
        </div>
    </div>

<script src="{% static 'choice/script.js' %}"></script>
{% endblock %}