{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <title>Split Landing Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{% static 'choice/style.css' %}" rel="stylesheet">
{% endblock %}


{% block body %}
    <div class="container">
        <div class="split left">
            <h1>Restroom</h1>
            <form action="{% url 'select' %}" method="post">
                {% csrf_token %}

                {% if in_use == True %}
                    <input hidden class="form-control" name="in_use" value="True">
                {% else %}
                    <input hidden class="form-control" name="in_use" value="False">
                {% endif %}

                <input hidden class="form-control" name="student_id" value="11">
                <button class="btn">Login</button>
                <a href="#" class="btn">Click Here</a>
            </form>
        </div>


        <div class="split right">
            <h1>Attendance</h1>
            <a href="#" class="btn">Click Here</a>
        </div>
    </div>

<script src="{% static 'choice/script.js' %}"></script>
{% endblock %}