{% extends 'layout.html' %}

{% block head %}
    <title>Dashboard</title>
{% endblock %}



{% block body %}
<table>
    <tr>
        <td>Schedule</td>
        <td>{{schedule}}</td>
    </tr>
    <tr>
        <td>Period {{period_number}}</td>
        <td>{{start}} to {{finish}}</td>
    </tr>
</table>
<h5 style = "margin:30px"> Current Schedule: {{schedule}}   <br>  Period {{period_number}} is from {{start}} to {{finish}}  <br>  Time/Date:</h5>
<h5 id = "txt"></h5>
<h5>Current Usage:  <br> Today's Usage: </h5>

<form action="{% url 'reset'%}" method="post">
    {% csrf_token %}
    <div  class="text-center "  >
            <input class="bttn choice" type="submit" value="Reset Waitlist">
    </div>
</form>

<form action="{% url 'schedule'%}" method="post">
    {% csrf_token %}
    <div  class="text-center "  >
        <label for="cars">Schedule:</label>
            <select name="schedule">
                <option value="Regular">Regular</option>
                <option value="Even">Even</option>
                <option value="Odd">Odd</option>
                <option value="Final B">Final B</option>
                <option value="Final C">Final C</option>
                <option value="Minimum Day">Minimum Day</option>
                <option value="Test Mode">Test Mode</option>
            </select>
            <input class="bttn choice" type="submit" value="Set Schedule">
    </div>
</form>


{% for record in records %}
    <p>{{record.student.first}}: {{record.time_out}}  {{record.minutes}} minutes       </p>
{% endfor %}

<p> start: {{start}} </p>
<p> finish: {{finish}} </p>
<p> period: {{period}} </p>
{% for record in recordz %}
    <p> {{record.student.first}}: {{record.reason}}, {{record.timestamp}} </p>
{% endfor %}

Debug Info:
Waitlist: {{waitlist}}
Records: {{records}}
Startdate: {{startdate}}
Hour: {{hour}}
Minute: {{minute}}
Schedule: {{schedule}}


{% endblock %}