{% extends 'layout.html' %}

{% block head %}
    <title>Dashboard</title>
{% endblock %}



{% block body %}
<div  style ="margin-left:10%; margin-right:35%;" >
    <table class = "table table-sm" style="font-size: 200%">
        <tr>
            <td>Schedule</td>
            <td>{{schedule}}</td>
        </tr>
        <tr>
            <td>Period {{period_number}}</td>
            <td>{{start}} to {{finish}}</td>
        </tr>
        <tr>
            <td>Time/Date</td>
            <td id = "time"></td>
        </tr>
        <tr>
            <td>In Restroom </td>
            <td>{{using_restroom}}</td>
        </tr>
        <tr>
            <td>Today's Usage</td>
            <td>
                <table class = "usage">
                    {% for record in records %}
                        <tr class = "usage">
                            <td style = "border: 1px solid; padding: 5px;"><strong>{{record.student.first}}</strong></td>
                            <td style = "border: 1px solid; padding: 5px;">{{record.minutes}} minutes </td>
                            <td style = "border: 1px solid; padding: 5px;">{{record.time_out}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>

    </table>
</div>


<form action="{% url 'reset'%}" method="post">
    {% csrf_token %}
    <div  class="text-center "  >
            <input class="bttn choice" type="submit" value="Reset Waitlist">
    </div>
</form>

<form action="{% url 'schedule'%}" method="post">
    {% csrf_token %}
    <div  class="text-center "  >
        <label for="cars">Schedule:</label>
            <select name="schedule">
                <option value="Regular">Regular</option>
                <option value="Even">Even</option>
                <option value="Odd">Odd</option>
                <option value="Final B">Final B</option>
                <option value="Final C">Final C</option>
                <option value="Minimum Day">Minimum Day</option>
                <option value="Test Mode">Test Mode</option>
            </select>
            <input class="bttn choice" type="submit" value="Set Schedule">
    </div>
</form>



Debug Info:
Waitlist: {{waitlist}}
Records: {{records}}
Startdate: {{startdate}}
Hour: {{hour}}
Minute: {{minute}}
Schedule: {{schedule}}


{% endblock %}