{% extends 'layout.html' %}

{% block head %}
    <title>Dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready( function () {
        $('#filter-table').DataTable();
        } );
    </script>

{% endblock %}



{% block body %}

<table id="filter-table" class="display">
    <thead>
        <tr>
            <th>Period</th>
            <th>First</th>
            <th>Last</th>
            <th>ID</th>
            <th>Date</th>
            <th>minutes</th>
            <th>reason</th>
        </tr>
    </thead>
    <tbody>
        {% for record in bathroom %}
        <tr>
            <td>{{record.student.period}}</td>
            <td>{{record.student.first}}</td>
            <td>{{record.student.last}}</td>
            <td>{{record.student.student_id}}</td>
            <td>{{record.time_out.date}}</td>
            <td> {{record.minutes}}</td>
            <td></td>
        </tr>
        {% endfor %}
        {% for record in tardies %}
        <tr>
            <td>{{record.student.period}}</td>
            <td>{{record.student.first}}</td>
            <td>{{record.student.last}}</td>
            <td>{{record.student.student_id}}</td>
            <td>{{record.timestamp.date}}</td>
            <td></td>
            <td> {{record.reason}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>







<h1>Time Spent: {{timeSpent}}</h1>
<div  style ="margin-left:10%; margin-right:35%;" >
    <table class = "table table-sm" style="font-size: 200%">
        <tr>
            <td>Schedule</td>
            <td>{{schedule}}</td>
        </tr>
        <tr>
            <td>Period {{period_number}}</td>
            <td>{{start}} to {{finish}}</td>
        </tr>
        <tr>
            <td>Time</td>
            <td id = "time"></td>
        </tr>
        <tr>
            <td>Date</td>
            <td id = "date"></td>
        </tr>
        <tr>
            <td>In Restroom </td>
            <td>{{using_restroom}}</td>
        </tr>
        <tr>
            <td>Today's Usage</td>
            <td>
                <table class = "usage">
                    {% for record in records %}
                        <tr class = "usage">
                            <td style = "border: 1px solid; padding: 5px;"><strong>{{record.student.first}}</strong></td>
                            <td style = "border: 1px solid; padding: 5px;">{{record.minutes}} minutes </td>
                            <td style = "border: 1px solid; padding: 5px;">{{record.time_out}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>

    </table>
</div>


<form action="{% url 'reset'%}" method="post">
    {% csrf_token %}
    <div  class="text-center "  >
            <input class="bttn choice" type="submit" value="Reset Waitlist">
    </div>
</form>

<form action="{% url 'schedule'%}" method="post">
    {% csrf_token %}
    <div  class="text-center "  >
        <label for="cars">Schedule:</label>
            <select name="schedule">
                {% for schedule in options %}
                    <option value = {{schedule.schedule_name}}>{{schedule.schedule_name}}</option>
                {% endfor %}
            </select>
            <input class="bttn choice" type="submit" value="Set Schedule">
    </div>
</form>



Debug Info:
Waitlist: {{waitlist}}
Records: {{records}}
Startdate: {{startdate}}
Hour: {{hour}}
Minute: {{minute}}
Schedule: {{schedule}}


{% endblock %}