{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <title>Split Landing Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{% static 'incident/style.css' %}" rel="stylesheet">
{% endblock %}


{% block body %}
    <h1 class="greeting"> Hello {{student.first}}! </h1>
    <div class="container">
        <div class="incident-container">
            <form action="{% url 'incident'%}" method="post">
                {% csrf_token %}
                <input hidden name="student_id" value={{student.student_id}}>
                <select class="selectEl" name="reason">
                    <option selected="selected" value = "default" >Select Incident</option>
                    <option value = "Cell Phone Issue">Cell Phone Issue</option>
                    <option value = "Earbud Issue">Earbud Issue</option>
                    <option value = "Dress Code Violation">Dress Code Violation</option>
                </select>
                <input class="selectBtn" type="submit" value="Enter">
            </form>
        </div>
<div class="message-container"></div>

        {% if recordsLength > 0%}
        <div class="past-incidents-container">
            <h3> Past Incidents </h3>
            <table class="top5-table">
                <thead>
                    <th> Reason </th>
                    <th> Timestamp </th>
                </thead>
                <tbody>
                    {% for record in records %}
                    <tr>
                        <td>{{record.reason}}</td>
                        <td>{{record.timestamp}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

    </div>

<script src="{% static 'incident/script.js' %}"></script>
{% endblock %}