{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link href="{% static 'login/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">

        <form action="{% url 'select' %}" method="post">
         {% csrf_token %}
            <div class="hide-div">
                {% if in_use == True %}
                    <input hidden name="in_use" value="True">
                {% else %}
                    <input hidden name="in_use" value="False">
                {% endif %}
            </div>
            <div class="form-control">
                <input type="password" required>
                <label>Enter ID</label>
            </div>
            <button class="btn">Login</button>
            <p class="text">
            </p>
        </form>
    </div>
    <div class="date-time-container">
        <h1 class="time"></h1>
        <h1 class="date"></h1>
    </div>

    <div class="restroom-use-container">
        {% for student in students %}
            <div class="restroom-use">{{student}} is using the restroom.</div>
        {% endfor %}
    </div>

    <div class="error-message-container">
        <h2 class="error-message" id="errorMessage">
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        </h2>
    </div>

    <div class="waitlist-container">
        {% if waiting == True %}
            <h4> Wait List </h4>
            <ol>
                {% for person in waitlist %}
                    <li> {{person.student.first}} </li>
                {% endfor %}
            </ol>
        {% endif %}
    </div>
    <script src="{% static 'login/script.js' %}"></script>
</body>
</html>