{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <title>Login</title>
    <link href="{% static 'login/style.css' %}" rel="stylesheet">
{% endblock %}


 {% block body %}
    <div class="schedule-container">
        <p>{{schedule}} Schedule <br> Period {{period}} <br> 2:34 - 5:43</p>
    </div>

    <div class="usage-container"  >
        {% for student in students %}
            <div>{{student}} is using the restroom.</div>
        {% endfor %}
    </div>


        <div class="container" id = "login">
            <form action="{% url 'choice' %}" method="post">
                {% csrf_token %}

                {% if in_use == True %}
                    <input hidden class="form-control" name="in_use" value="True">
                {% else %}
                    <input hidden class="form-control" name="in_use" value="False">
                {% endif %}

                <div class="form-control">
                    <input type="password" required class="form-control" name="student_id">
                    <label>Enter ID</label>
                </div>
                <button class="btn">Login</button>
            </form>
        </div>

        <div class="error-message-container">
                <h2 id="errorMessage">
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                </h2>
        </div>


    <div class="waitlist-container" >
        {% if waiting == True %}
            <h4> Wait List: </h4>
            <ol >
                {% for person in waitlist %}
                    <li> {{person.student.first}} </li>
                {% endfor %}
            </ol>
        {% endif %}
    </div>

    <div class="date-time-container">
        <h1 class="time"></h1>
        <h1 class="date"></h1>
    </div>

  <script src="{% static 'login/script.js' %}"></script>
 {% endblock %}