{% extends 'layout.html' %}


 {% block body %}
    <div  style = "text-align:center; margin-top:100px"  >
        {% for student in students %}
            <div>{{student}} is using the restroom.</div>
        {% endfor %}
    </div>


        <div id = "login">
            <form action="{% url 'select' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {% if in_use == True %}
                        <input hidden class="form-control" name="in_use" value="True">
                    {% else %}
                        <input hidden class="form-control" name="in_use" value="False">
                    {% endif %}
                    <input autofocus class="form-control" name="student_id" placeholder="Enter ID">
                </div>
                <input class="btn btn-primary" type="submit" value="Login">
            </form>
        </div>
        <div >
                <h2 id="errorMessage">
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                </h2>
        </div>

<p> records:  {{records}} </p>
<p> waitlist:  {{waitlist}} </p>


 {% endblock %}