<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">

        <form>
            <div class="form-control">
                <input type="password" required>
                <label>Enter ID</label>
            </div>
            <button class="btn">Login</button>
            <p class="text">
            </p>
        </form>
    </div>
    <div class="date-time-container">
        <h1 class="time"></h1>
        <h1 class="date"></h1>
    </div>

    <div class="restroom-use-container">
        {% for student in students %}
            <div class="restroom-use">{{student}} is using the restroom.</div>
        {% endfor %}
    </div>

    <script src="script.js"></script>
</body>
</html>