{% extends 'layout.html' %}


{% block head %}
    <title>Select</title>
{% endblock %}


{% block body %}
<p>
    In Use? {{in_use}}
</p>
<p> Returning? {{returning}} </p>
{% if returning == False and in_use == "True" %}
    <div class="dropdown text-end">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        options
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
        <li>
            <form action="{% url 'record' %}" method="post">
                {% csrf_token %}
                <input hidden class="form-control" name="reason" value="use_restroom">
                <input hidden class="form-control" name="student_id" value={{student.student_id}}>
                <div  >
                        <input class="choice" type="submit" value="Use Restroom">
                </div>
            </form>
        </li>
        </ul>
    </div>
{% endif %}



<h1 style="padding:30px">Hello, {{student.first}} {{student.last}}</h1>
<form action="{% url 'record' %}" method="post">
    {% csrf_token %}
    <input hidden class="form-control" name="reason" value="use_restroom">
    <input hidden class="form-control" name="student_id" value={{student.student_id}}>
    <div  class = "text-center"  >
        {% if returning == False and in_use == "False" or returning == False and student.exception == "yes" %}
            <input class="bttn choice" type="submit" value="Use Restroom">
            <h1 style="color:red; margin-left:15%; margin-right:15%; text-align:center;">PLEASE MAKE SURE YOU LOG BACK IN AFTER YOU RETURN FROM THE RESTROOM! </h1>
        {% endif %}
    </div>
</form>

<form action="{% url 'record'%}" method="post">
    {% csrf_token %}
    <input hidden class="form-control" name="reason" value="return_restroom">
    <input hidden class="form-control" name="student_id" value={{student.student_id}}>
    <div  class="text-center "  >
        {% if returning == True %}
            <input class="bttn choice" type="submit" value="Return from Restroom">
        {% endif %}
    </div>
</form>

<form action="{% url 'waitlist'%}" method="post">
    {% csrf_token %}
    <input hidden class="form-control" name="student_id" value={{student.student_id}}>
    <div  class="text-center "  >
        {% if in_use == "True" and returning == False and student.exception != True %}
            <input class="bttn choice" type="submit" value="Waitlist">
            <h1 style="color:red; margin-left:15%; margin-right:15%; text-align:center;"> The bathroom is currently in use.  Click here to be added to the waitlist. </h1>
        {% endif %}
    </div>
</form>



<div  class="text-center" style ="margin-left:25%; margin-right:25%;" >
    <h3 style="margin-top:40px; margin-bottom:20px;"> Past Restroom Usage </h3>
    <table class = "table table-sm">
        <thead class="thead-light">
            <tr>
                <th scope="col">Date/Time Out</th>
                <th scope="col">Total Minutes</th>
            </tr>
        </thead>
        <tbody>
    {% for use in usage %}
        <tr>
            <td>{{use.time_out}}</td>
            <td>{{use.minutes}}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>



{% endblock %}