{% extends 'layout.html' %}

{% block body %}


<h1>Hello, {{student.first}} {{student.last}}</h1>
<form action="{% url 'record' %}" method="post">
    {% csrf_token %}
    <input hidden class="form-control" name="reason" value="use_restroom">
    <input hidden class="form-control" name="student_id" value={{student.student_id}}>
    <div  class=" row d-flex justify-content-center align-content-center "  >
        {% if returning == False %}
            <input class="bttn choice" type="submit" value="Use Restroom">
            <h1 style="color:red; margin-left:15%; margin-right:15%; text-align:center;">PLEASE MAKE SURE YOU LOG BACK IN AFTER YOU RETURN FROM THE RESTROOM! </h1>
        {% endif %}
    </div>
</form>

<form action="{% url 'record'%}" method="post">
    {% csrf_token %}
    <input hidden class="form-control" name="reason" value="return_restroom">
    <input hidden class="form-control" name="student_id" value={{student.student_id}}>
    <div  class=" row d-flex justify-content-center align-content-center "  >
        {% if returning == True %}
            <input class="bttn choice" type="submit" value="Return from Restroom">
        {% endif %}
    </div>
</form>

<h1> The time is {{time}} </h1>




{% endblock %}