

body{
    background-color: #C5CBE3;
    font-size: 1.2em;
}


.info-container{
    background-color: #EFE2BA;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.info-table{
    border: solid;
    border-collapse: collapse;
    width: 100%;
}

.info-table td{
    border: solid;
    padding: 10px 20px;

}

.select{
    position: relative;
    background-color: #EFE2BA;
    display: flex;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    height: 50px;
}

input, button {
    background-color: #4056A1;
    font-size: 1em;
    color: grey;
    padding: 10px 30px;
    border-radius: 15px;
}



select{
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 10px;
}




input:hover, button:hover {
    background-color: rgba(64,86,161,0.9);
}

input:active, button:active {
    transform: scale(.98);
}


.reset-container{
    position: absolute;
    left: 10%;
}

.schedule-container{
    position: absolute;
    right: 10%;
}

.filter-table-container{
    background-color: #EFE2BA;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.top5-container{
    background-color: #EFE2BA;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
}

.top5-table{
    border: solid;
    border-collapse: collapse;
    width: 100%;
}

.top5-table td, .top5-table th{
    border: solid;
    padding: 10px 20px;
}

.top5-table th{
    text-align: left;
}

.top5-table span{
    background: yellow;
    padding: 0 10px;

}

