

body{
    background-color: #EFE2BA;
}


.info-container{
    background-color: #C5CBE3;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.select{
    display: flex;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.reset-container{
    background-color: green;
}

.schedule-container{
    background-color: pink;
}

.filter-table-container{
    background-color: yellow;
}

.top5-container{
    background-color: pink;
}