@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: steelblue;
    color: white;
    font-family: 'Muli', sans-serif;
    overflow: hidden;
}



.option-container .btn {
    position: absolute;
    top: 15px;
    right: 25px;

}

.option-container .option-button {
    transition: transform 2s;
}

.option-container .option-home {
    transform: translateX(200px);
}

.option-container .option-restroom {
    transform: translate(200px, 30px);
}

.option-container .option-button.click {
    transform: translateY(-100px);
}

.option-container .option-home.click {
    transform: translateX(0px);
    transition: transform 2s;
}

.option-container .option-restroom.click {
    transform: translate(0px, 30px);
    transition: transform 2s;
}


.welcome {
    position: relative;
    font-size: 25px;
    transition: font-size 5s;
    text-align: center;
}

.welcome.grow {
    font-size: 35px;
}

.form-container {
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    padding: 0.5% ;
    margin: 3% 20%;
    border-radius: 5px;
    font-size: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 55%;
}


.form-container .btn{
    padding: 25px;
    margin: 15px 0;
    font-size: 30px;
    text-transform: uppercase;
}


.restroom-usage-container {
    position: absolute;
    background-color: rgba(210,215,211,.3);
    padding: 20px 50px;
    margin: 0 20%;
    height: 50vh;
    width: 60%;
    text-align: left;
    overflow: auto;
    border-radius: 5px;
    bottom: 3%;
}


.restroom-usage-container h3 {
    text-align: center;
    font-size: 30px;
}

table {
    margin: 0 auto;
}

td, th {
    padding: 5px 50px;
}

th {
    border-bottom:  solid 3px white;
}

.btn {
    border-radius: 5px;
    font-family: 'Muli', sans-serif;
    cursor: pointer;
    display: inline-block;
    background: lightblue;
}


.btn:focus {
    outline: 0;
}

.btn:hover{
    background: rgba(173,216,230,0.7);
}

.btn:active {
    transform: scale(.98);
}