@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: steelblue;
    color: white;
    font-family: 'Muli', sans-serif;
}

.option-container {
    background-color: green;
    position: absolute;
    top: 0;
    right: 0;
}

.welcome {
    background-color: purple;
    text-align: center;
    font-size: 400%;
}

.form-container {
    background-color: brown;
    text-align: center;
}

.restroom-usage-container {
    background-color: grey;
    text-align: center;
}