@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {

    color: white;
    font-family: 'Muli', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 200px;
    gap: 20px;
}

.option-container {
    background-color: green;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.welcome {
    background-color: purple;
}

.form-container {
    background-color: brown;
}

.restroom-usage-container {
    background-color: grey;
}