#login {
    margin-left:200px;
    margin-right:200px;
    margin-bottom:0px;
    margin-top:30px;
}

#errorMessage {
    color:red;
    text-align:center;
    margin-top:0px;
}

.choices{
    height:200px;
    width:300px;
    background-color:rgb(0, 255, 38);
    margin: 30px;

}

.bttn {
    border: solid;
    background-color: inherit;
    padding: 44px 28px;
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    margin:20px;
    border-radius: 15px;
  }

  /* Green */
  .choice {
    color: rgb(31, 101, 231);
  }

  .choice:hover {
    background-color: rgb(31, 101, 231);
    color: white;
  }

  table, th, td {
    border: 1px solid;
  }