@import url('https://fonts.googleapis.com/css?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

.greeting{
    margin: 30px;
}

.student_id{
    display: none;
}

.excused-container {
    background-color: #DBF1FF;
    border: 4mm ridge #BFD1FD;
    margin: 5% 10%;
    padding: 0px 50px 30px;
}

.excused-container h1 {
    font-size: 3em;
}

.excused-container p {
    font-size: 1.3em;
    font-weight: bold;
}

button {
    background-color: #BFD1FD;
    padding: 10px 30px;
    font-size: 1.5em;
    border-radius: 10px;
    margin: 10px 0;
}

.excused-no{
    margin: 0 20px;
}

.description-container{
    display: none;
}

.policy-container{
    display: none;
}

.return-container{
    display: none;
}

.consequence-container{
    display: none;
}

.consequence-warning{
    display: none;
}

.consequence-lunch-detention{
    display: none;
}

.consequence-after-school-detention{
    display: none;
}

.consequence-referral{
    display: none;
}

