

.student_id{
    display: none;
}

.description-container{
    display: none;
}

.policy-container{
    display: none;
}

.return-container{
    display: none;
}

.consequence-container{
    display: none;
}



